* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, #65f6c6 0%, #cffd85 100%);
  color: rgb(80, 66, 66);
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
